@charset "utf-8";
/* CSS Document */

/* CSS Document */

@charset "utf-8";



body {

	font-family: Arial, Helvetica, sans-serif;

	color: #000;

	background-color: #668ccf;

	background-image: url(background_No_Bell.jpg);

	background-position: center top;

	background-repeat: no-repeat;

}

#wrapper #content #homeRight #singleCol h2 {

	margin: 0 0 15px 0;

	padding: 3px 0 3px 6px;

	font: bold 1.4em;

	text-transform: capitalize;

	}	

#wrapper #mainNav #collegeNav {

	background-color: #000025;

	clear: both;

	overflow:auto;

	font-family: "Trajan Pro";

	font-size: 1.3em;

	display: block;

}

#banner #dept_COE {

	display: block;

	width: 352px;

	height: 26px;

	float: left;

	background-image: url(COEBanner_top.png);

	background-repeat: no-repeat;

	margin-left: 10px;

	margin-bottom: 10px;

	margin-right: 40px;

	margin-top: 20px;

}

#banner #dept_Bump {

	display: block;

	width: 410px;

	height: 45px;

	float: right;

	background-image: url(BumpersBanner_BAEG.png);

	background-repeat: no-repeat;

	margin-left: 10px;

	margin-top: 10px;

}

#wrapper #content #homeLeft #leftNav ul {

    list-style: none !important;

    margin-top: 10px;

    margin-bottom: 10px;

}

#wrapper #content #homeRight #bottom #bottomRight {

	width: 250px;

	float: right;

	padding-right: 10px;

	margin-right: 10px;

}

#wrapper #content #homeRight #bottom #bottomLeft #Links ul li a {

	font-size: 1.2em;

	line-height: 150%;

	list-style-type: circle;

}

#wrapper #content #homeRight #bottom #bottomRight ul li{

	font-size: 0.85em;

	list-style-type: circle;

	line-height: 150%;

	list-style-position: inside;

}

#wrapper #content #homeRight #singleCol {

	width: 725px;

	float: left;

	margin-top: 5px;

	font-size: 0.9em;

	line-height: 150%;

	letter-spacing: 1pt;

	padding-left: 15px;

	padding-right: 10px;

}

#wrapper #content #homeRight #rightNav {

	margin-top: 10px;

	float: left;

	width: 190px;

	height: auto;

	font-size: 0.8em;

}

#wrapper #content #homeRight #rightNav .infoBox {

	background-color: #F5FAFD;

	margin-right: 5px;

	width: 150px;

	float: left;

}
/**RIGHT COLUMN DIRECTORY**/
.directory {
	float: right;
	width: 120px;
	font-size: 80%;
	text-align: center;
	padding: 5px;
}
.rightCol {
	background-color: #687886;
	z-index:2;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
}
.rightCol a {
	color:#FFFFFF;
	}
.rightCol h1, .rightCol h2, .rightCol h3, .rightCol h4, .rightCol h5, .rightCol h6 {
	font-weight: normal;
	text-transform: lowercase;
	font: 1.5em;
	margin-bottom: 1em;
}
.rightCol p {
	margin-bottom: 1em;
	font-size: 1.1em;
	line-height: 1.5em;
}
.rightCol ul, .rightCol ol {
	font-size: 0.8em;
	line-height: normal;
	margin: 0 0 1em 5px;
	}
.rightCol li {
	margin-bottom:.5em;
	}	